.contact {
  position: center;
  margin: 40px 200px;
}

.contact-title {
  color: black;
  position: center;
  font-size: 270%;
  padding-top: 5%;
  font-family: "Caveat", cursive;
}

.tbody {
  color: black;
}

th {
  padding: 30px;
  width: 300px;
}

td {
	padding: 20px 20px 18px 24px;
	font-size: 100%;
}

th span {
	margin-left: 5px;
	color: #df497d;
}

.button {
  /*
  display       : inline-block;
  border-radius : 5%;
  font-size     : 18pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 12px;
  background    : #000066;
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  box-shadow    : 6px 6px 3px #666666;
  border        : 2px solid #000066;
  */
  width: 300px;
}
.buton:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.error {
  color: #df497d;
}
