.contact {
  position: center;
  margin: 40px 200px;
}

.contact-title {
  color: black;
  position: center;
  font-size: 270%;
  padding-top: 5%;
  font-family: "Caveat", cursive;
}

.tbody {
  color: black;
}

th {
  padding: 30px;
  width: 300px;
}

td {
	padding: 20px 20px 18px 24px;
	font-size: 100%;
}

th span {
	margin-left: 5px;
	color: #df497d;
}

/*input {
  font-size: 100%;
}*/

.error {
  color: #df497d;
}

.send {
  position: center;
}