.contact {
  position: center;
  margin: 40px 200px;
}

.contact-title {
  color: black;
  position: center;
  font-size: 270%;
  padding-top: 5%;
  font-family: "Caveat", cursive;
}

.tbody {
  color: black;
}

th {
  padding: 30px;
  width: 300px;
}

td {
	padding: 20px 20px 18px 24px;
	font-size: 100%;
}

th span {
	margin-left: 5px;
	color: #df497d;
}

.button {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius : 5px;
  font-size     : 18pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 12px;
  background    : linear-gradient(0deg, #68d3db, #e5f4fc);
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  box-shadow    : 6px 6px 3px #666666;
  /*background-image: linear-gradient(0deg, #68d3db, #e5f4fc);*/
  border: 1px solid #2c628b;
}
.button:hover {
  color         : #000066;     /* 背景色     */
  background    : linear-gradient(180deg, #68d3db, #e5f4fc);     /* 文字色     */
}

.error {
  color: #df497d;
}
