* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #fff;
  font-size: 16px;
  color: #fff;
  font-family: Meiryo;
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 10px 0;
  padding: 0;
}

.main-background {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(images/welcome-sign.jpg);
  background-size: cover;
  max-height: 100vh;
}

.gradient {
  background: linear-gradient(
    30deg,
    rgba(0, 0, 0, 0.6),
    rgba(255, 255, 255, 0.6)
  );
  background-size: 400% 400%;
  height: 100vh;

  /*-webkit-animation: gradation 5s ease infinite;*/
  /*-moz-animation: gradation 5s ease infinite;*/
  animation: gradation 5s ease infinite;
}
/*@-webkit-keyframes gradation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}*/
/*@-moz-keyframes gradation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}*/
@keyframes gradation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*header*/

header nav {
  height: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  z-index: 10;
}

header nav,
header ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

header nav li {
  cursor: pointer;
}

header nav a {
  line-height: 50px;
  display: block;
  height: 60px;
  padding: 0px 30px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/*.svg-wrapper {
  position: relative;
  width: 80%;
  padding-top: 40%; 
  margin: auto;
}
.svg-wrapper svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.boel {
  fill-rule: evenodd;
  stroke-width: 1px;
  stroke-dasharray: 1425px;
  stroke-dashoffset: 1425px;
  animation: anim 4s ease-in 2s forwards;
  stroke: transparent;
  fill: transparent;
}
@keyframes anim {
  0% {
    stroke-dashoffset: 1425px;
  }
  30% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #fff;
  }
}*/

.content-title {
  font-size: 270%;
  padding-top: 10%;
  padding-bottom: 10px;
  font-family: "Caveat", cursive;
}
.content {
  padding-top: 30px;
  line-height: 250%;
  margin-bottom: 30px;
  line-height: 150%;
}
.linkbtn {
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  padding: 15px 30px;
  border: 1px solid #fff;
  border-radius: 10px;
  transition: 1s;
  margin: auto;
}
.linkbtn:hover {
  color: #333;
  background-color: #fff;
  border-radius: 15px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
#page_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#page_top i {
  padding-top: 30px;
  padding-right: 30px;
}
/*#page_top a {
  size: 200%;
  display: block;
  background-color: #000000;
  color: #fff;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  text-align: center;
}*/
#page_top a:hover {
  opacity: 0.6;
}

.effect p,
.effect div {
  margin: 0;
  transition: 0.8s;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 30px;
}

/*About*/
.about-background {
  background-image: url(images/wood.jpg);
  position: relative;
  height: 100%;
  background-position: center;
  background-size: cover;
  text-align: center;
}

/*Works*/
.works-background {
  background-image: url(images/wood.jpg);
  position: relative;
  height: 100%;
  background-position: center;
  background-size: cover;
  text-align: center;
}

/*Works.html*/
.main-works {
  text-align: center;
  padding-top: 100px;
}
.works-main-content-title {
  margin: auto;
  font-family: "Caveat", cursive;
  padding-bottom: 30px;
}

/*Contact*/
.contact-background {
  background-repeat: no-repeat;
  background-image: url(images/contact-background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  position: relative;
}
.copyright {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}

/*スマホ対応*/
@media screen and (max-width: 670px) {
  
  .main-background {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(images/welcome-sign.jpg);
    background-size: cover;
    max-height: 50vh;
  }

  header nav {
    height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    z-index: 10;
  }

  header nav a {
    line-height: 40px;
    font-size: 80%;
    display: block;
    height: 40px;
    padding: 0px 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }

  #page_top i {
    padding-top: 20px;
    padding-right: 10px;
  }

  .content-title {
    padding-top: 18%;
    font-family: "Caveat", cursive;
  }

}
